.chat-box--height {
    height: 20%;
    min-height: calc(100% - 65px);
    max-height: calc(100% - 65px);
    overflow: auto;
}


.chat-box--height::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

.chat-box--height::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}